<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Bratwurst Page - The #1 site for bratwurst!</title>
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="SHORTCUT ICON" href="https://scontent-arn2-1.xx.fbcdn.net/v/t34.0-12/22053141_10212053468564525_1466791815_n.png?oh=59030cd0ddc3e8d233065cb05f361fe7&oe=59CF8639" />
    <noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>
    <div id="wrapper">
        <div class="container">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <div id="footer">
            <div class="left">
            </div>
            <div class="right">
                <ul class="copyright">
                    <li>&copy; Parallelism by HTML5 UP</li>
                    <li>Photos by <a href="https://www.google.com/search?q=bratwurst&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjD3q2NvsfWAhWFNpoKHa16A9gQ_AUICigB&biw=1920&bih=948">Group Bratwurst</a></li>
                </ul>
            </div>
        </div>
        <!-- Scripts -->
        <script src="~/Content/js/jquery.min.js"></script>
        <script src="~/Content/js/jquery.poptrox.min.js"></script>
        <script src="~/Content/js/skel.min.js"></script>
        <script src="~/Content/js/skel-viewport.min.js"></script>
        <script src="~/Content/js/util.js"></script>
        <!--[if lte IE 8]><script src="~/Content/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Content/js/main.js"></script>
     </div>
</body>
</html>