@model IEnumerable<Bratwurst.Models.Photo>
@{
    ViewBag.Title = "Index";
}

<!--
-- Author: HTML5 UP  
-- Source: html5up.net | ajlkn
-- Free for personal and commercial use under the Creative Commons Attribution 3.0 license.
-- https://www.creativecommons.org/
-->
<div id="main">
    <div id="reel">
        <!-- Header Item -->
        <div id="header" class="item" data-width="400">
            <div class="inner">
                <h1>Bratwurst.org</h1>
                <p>
                    Website about German sausage.
                </p>
            </div>
       </div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <article class="item thumb" data-width="282">
                    <h2>@Html.ActionLink("👍🏻", "likePicture", "Home", new { photoID = item.ID, userEmail = "admin@test.nl" }, null) @item.amountOfVoters @item.caption  </h2>
                    <a href="@item.imageUrl" class="image"><img src="@item.imageUrl" alt="@item.tags"></a>
                </article>
            }
        }
        
    </div>
</div>


